include LICENSE.txt
include Makefile
include README.md
include VERSION
include check.sh
include doc/bdbcontrib.rst
include doc/bql.rst
include doc/composer.rst
include doc/conf.py
include doc/crosscat.rst
include doc/diagnostic.rst
include doc/experiments.rst
include doc/index.rst
include doc/internal.rst
include doc/keplers_law.rst
include doc/multiple_regression.rst
include doc/plot_utils.rst
include doc/predictor.rst
include doc/predictors.rst
include doc/probe.rst
include doc/random_forest.rst
include doc/shell.rst
include doc/visualization.rst
include examples/Index.ipynb
include examples/ma-school-districts/ma-school-districts.csv
include examples/ma-school-districts/MASchoolDistricts.ipynb
include examples/ma-school-districts/ma_schools.py
include examples/on-stability-testing.md
include examples/satellites/Satellites.ipynb
include examples/satellites/build_bdbs.py
include examples/satellites/probe.py
include examples/satellites/satellites.bql
include examples/satellites/satellites.csv
include examples/satellites/satellites_codebook.csv
include examples/satellites/visualize.py
include hooks/hook_diagnostics.py
include hooks/hook_maths.py
include hooks/hook_plots.py
include hooks/hook_utils.py
include hooks/readtohtml.css
include pythenv.sh
include tests/test_composer.py
include tests/test_crosscat_utils.py
include tests/test_draw_cc_state.py
include tests/test_foreign_predictors.py
include tests/test_plot_utils.py
include tests/test_recipes.py
include tests/test_sklearn_utils.py
include tests/test_stability_checking.py
include tests/test_utils.py
